legacy-peer-deps=true # necessary for Adblock eslint-airbnb-config that uses a very old peer dep of eslint
fetch-retries=0 # This is a fix for npm taking a long time to install GitLab npm dependencies.
save-exact=true # Default to using exact package versions when running `npm install x`, rather than ones that auto-upgrade.
scripts-prepend-node-path=true # This is a fix for running npm scripts when using the node snap package.
