/devenv*/
*.zip
*.crx
*.tar
*.gz
*.xpi
.DS_Store
/.last_snippets_build
tests/chromium-snapshots/
tests/firefox-snapshots/
/dist/
/testpages.adblockplus.org/
.env
/browser-snapshots/

# Editor/IDE
.vscode/
.idea