@layer base {

  :root {
    /**
     * The following is an attempt to use better semantic names for the colors
     */
    /* Primary color */
    --primary: var(--red2);
    /* Foreground content color to use on primary color */
    --primary-content: var(--white);

    /* Secondary color */
    --secondary: var(--blue2);
    /* Foreground content color to use on secondary color */
    --secondary-content: var(--white);

    /* Accent color */
    --accent: var(--sunshine);
    /* Foreground content color to use on accent color */
    --accent-content: var(--gray1);

    /*--neutral: var(--white);*/
    /*--neutral-content: var(--white);*/

    /* Base color of page, used for blank backgrounds */
    --base-100: var(--white);
    /* Base color, a little darker */
    --base-200: var(--gray6);
    /* Base color, even more darker */
    --base-300: var(--gray2);
    /* Foreground content color to use on base color */
    --base-content: var(--gray1);

    /*--info: var(--white);*/
    /*--info-content: var(--white);*/

    /*--success: var(--white);*/
    /*--success-content: var(--white);*/

    /*--warning: var(--white);*/
    /*--warning-content: var(--white);*/

    --error: var(--red2);
    --error-content: var(--white);
  }

  [data-extension='adblock'][data-theme='default'],
  [data-extension='adblock'] [data-theme='default'] {
    --theme-primary: var(--white);
    --theme-secondary: var(--gray6);
    --theme-text-primary: var(--gray1);
    --theme-text-secondary: var(--gray3);
    --theme-link-color: var(--blue1);
    --theme-accent-dark: var(--gray2);
    --theme-accent-light: var(--gray5);
    --theme-text-accent: var(--red2);
    --theme-button-primary: var(--red2);
    --theme-button-secondary: var(--white);

    ::selection {
      background: var(--theme-link-color);
      color: var(--white);
    }
  }

  [data-extension='adblock'][data-theme='dark'],
  [data-extension='adblock'] [data-theme='dark'] {
    --theme-primary: var(--gray2);
    --theme-secondary: var(--gray1);
    --theme-text-primary: var(--gray6);
    --theme-text-secondary: var(--gray4);
    --theme-link-color: var(--blue3);
    --theme-accent-dark: var(--gray2);
    --theme-accent-light: var(--gray3);
    --theme-text-accent: var(--blue2);
    --theme-button-primary: var(--blue2);
    --theme-button-secondary: var(--gray6);

    --base-100: var(--gray2);
    --base-200: var(--gray1);
    --base-300: var(--gray1);
    --base-content: var(--white);

    ::selection {
      background: var(--theme-link-color);
      color: var(--black);
    }
  }

  [data-extension='adblock'][data-theme='solarized'],
  [data-extension='adblock'] [data-theme='solarized'] {
    --theme-primary: var(--solarized-teal2);
    --theme-secondary: var(--solarized-teal1);
    --theme-text-primary: var(--solarized-gray1);
    --theme-text-secondary: var(--solarized-gray1);
    --theme-link-color: var(--solarized-teal4);
    --theme-accent-dark: var(--solarized-gray1);
    --theme-accent-light: var(--solarized-teal3);
    --theme-text-accent: var(--solarized-teal5);
    --theme-button-primary: var(--red2);
    --theme-button-secondary: var(--white);

    --base-100: var(--solarized-teal2);
    --base-200: var(--solarized-teal1);
    --base-content: var(--solarized-gray1);

    ::selection {
      background: var(--theme-link-color);
      color: var(--black);
    }
  }

  [data-extension='adblock'][data-theme='solarized_light'],
  [data-extension='adblock'] [data-theme='solarized_light'] {
    --theme-primary: var(--solarized-yellow3);
    --theme-secondary: var(--solarized-yellow2);
    --theme-text-primary: var(--solarized-gray1l);
    --theme-text-secondary: var(--solarized-gray2l);
    --theme-link-color: var(--solarized-teal4);
    --theme-accent-dark: var(--solarized-gray1l);
    --theme-accent-light: var(--solarized-gray0l);  /* double check this one */
    --theme-text-accent: var(--solarized-teal2);
    --theme-button-primary: var(--red2);
    --theme-button-secondary: var(--white);

    --base-100: var(--solarized-yellow3);
    --base-200: var(--solarized-yellow2);
    --base-content: var(--solarized-gray2l);

    ::selection {
      background: var(--theme-link-color);
      color: var(--black);
    }
  }

  [data-extension='adblock'][data-theme='rebecca_purple'],
  [data-extension='adblock'] [data-theme='rebecca_purple'] {
    --theme-primary: var(--purple2);
    --theme-secondary: var(--purple1);
    --theme-text-primary: var(--white);
    --theme-text-secondary: var(--white);
    --theme-link-color: var(--blue3);
    --theme-accent-dark: var(--purple3);
    --theme-accent-light: var(--white);
    --theme-text-accent: var(--white);
    --theme-button-primary: var(--blue3);
    --theme-button-secondary: var(--purple1);

    --primary: var(--blue2);
    --primary-content: var(--white);
    --secondary: var(--blue2);
    --secondary-content: var(--white);
    --accent: var(--blue2);
    --accent-content: var(--white);
    --base-100: var(--purple2);
    --base-200: var(--purple1);
    --base-content: var(--white);

    ::selection {
      background: var(--theme-link-color);
      color: var(--black);
    }
  }

  [data-extension='adblock'][data-theme='watermelon'],
  [data-extension='adblock'] [data-theme='watermelon'] {
    --theme-primary: var(--red2);
    --theme-secondary: var(--red1);
    --theme-text-primary: var(--white);
    --theme-text-secondary: var(--white);
    --theme-link-color: var(--white);
    --theme-accent-dark: var(--watermelon);
    --theme-accent-light: var(--watermelon);
    --theme-text-accent: var(--white);
    --theme-button-primary: var(--white);
    --theme-button-secondary: var(--red1);

    --primary: var(--white);
    --primary-content: var(--red2);
    --secondary: var(--red1);
    --secondary-content: var(--white);
    --accent: var(--red2);
    --accent-content: var(--white);
    --base-100: var(--red2);
    --base-200: var(--red1);
    --base-content: var(--white);

    ::selection {
      background: var(--theme-link-color);
      color: var(--black);
    }
  }

  [data-extension='adblock'][data-theme='ocean'],
  [data-extension='adblock'] [data-theme='ocean'] {
    --theme-primary: var(--blue2);
    --theme-secondary: var(--blue1);
    --theme-text-primary: var(--white);
    --theme-text-secondary: var(--white);
    --theme-link-color: var(--white);
    --theme-accent-dark: var(--ocean);
    --theme-accent-light: var(--white);
    --theme-text-accent: var(--white);
    --theme-button-primary: var(--white);
    --theme-button-secondary: var(--blue1);

    --primary: var(--white);
    --primary-content: var(--black);
    --secondary: var(--white);
    --secondary-content: var(--black);
    --accent: var(--white);
    --accent-content: var(--black);
    --base-100: var(--blue2);
    --base-200: var(--blue1);
    --base-content: var(--white);

    ::selection {
      background: var(--theme-link-color);
      color: var(--black);
    }
  }

  [data-extension='adblock'][data-theme='sunshine'],
  [data-extension='adblock'] [data-theme='sunshine'] {
    --theme-primary: var( --yellow2);
    --theme-secondary: var(--yellow1);
    --theme-text-primary: var(--white);
    --theme-text-secondary: var(--white);
    --theme-link-color: var(--white);
    --theme-accent-dark: var(--sunshine);
    --theme-accent-light: var(--sunshine);
    --theme-text-accent: var(--white);
    --theme-button-primary: var(--white);
    --theme-button-secondary: var(--yellow1);

    --primary: var(--white);
    --primary-content: var(--black);
    --secondary: var(--white);
    --secondary-content: var(--black);
    --accent: var(--white);
    --accent-content: var(--black);
    --base-100: var(--yellow2);
    --base-200: var(--yellow1);
    --base-content: var(--white);

    ::selection {
      background: var(--theme-link-color);
      color: var(--black);
    }
  }
}
