@layer base {
  [data-extension="abp"] {
    --extension-font-family: "Source Sans Pro", Arial, sans-serif;

    --abp-blue: rgb(7 151 225);
    --abp-accent: rgb(237 165 30); /* --color-premium, #eda51e */
    --abp-accent-dark: rgb(235 155 5); /* --color-premium-hover, #eb9b05 */

    --theme-primary: var(--white);
    --theme-secondary: var(--gray6);
    --theme-text-primary: var(--gray1);
    --theme-text-secondary: var(--gray3);
    --theme-link-color: var(--abp-blue);
    --theme-accent-dark: var(--abp-accent-dark);
    --theme-accent-light: var(--abp-accent);
    --theme-text-accent: var(--abp-blue);
    --theme-button-primary: var(--abp-blue);
    --theme-button-secondary: var(--white);
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-lg;
  }

  h3 {
    @apply text-base font-bold;
  }
}

@layer components {
  [data-extension="abp"] {
    /**
    * Checkbox styling
    */
    input[type="checkbox"] {
      @apply rounded border-theme-link-color;
    }

    input[type="checkbox"]:not(:checked, :hover, :focus) {
      @apply bg-transparent;
    }

    /**
    * Link styling
    */
    a:not(.button):not([role="tab"]) {
      @apply underline font-sans;
    }
  }
}
