@import "tailwindcss/base";
@import './adblock-color-themes.css';
@import './extension-theme-adblock.css';
@import './extension-theme-abp.css';

@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  --white: 255 255 255; /* #ffffff */
  --black: 0 0 0; /* #000000 */

  /* Note: These theme colors names need to be updated. */
  /* Theme colors default */
  /* Also uses general white */
  --gray1: 51 51 51; /* #333333 */
  --gray2: 102 102 102; /* #666666 */
  --gray3: 153 153 153; /* #999999 */
  --gray5: 230 230 230; /* #e6e6e6 */
  --gray6: 244 244 244; /* #f4f4f4 */
  --red2: 228 13 13; /* #e40d0d */
  --blue1: 0 71 255; /* #0047ff */

  /* Theme colors dark */
  /* Also uses --gray 1 2 3 6 */
  --gray4: 198 198 198; ; /* #c6c6c6 */
  --blue2: 3 188 252; ; /* #03bcfc */
  --blue3: 78 205 249; ; /* #4ecdf9 */

  /* Theme colors solarized */
  --solarized-gray1: 144 162 162; ; /* #90a2a2 */
  --solarized-teal1: 0 44 56; ; /* #002c38 */
  --solarized-teal2: 0 54 67; ; /* #003643 */
  --solarized-teal3: 47 91 97; ; /* #2f5b61 */
  --solarized-teal4: 0 164 152; ; /* #00a498 */
  --solarized-teal5: 43 227 214; ; /* #2be3d6 */

  /* Theme colors solarized_light */
  /* Also uses solarized-teal4 & solarized-teal2 from solarized */
  --solarized-gray0l: 76 99 105; ; /* #4c6369 */
  --solarized-gray1l: 96 124 132; ; /* #607c84 */
  --solarized-gray2l: 118 137 141; ; /* #76898d */
  --solarized-yellow2: 238 232 213; ; /* #eee8d5 */
  --solarized-yellow3: 253 246 227; ; /* #fdf6e3 */

  /* Theme colors rebecca_purple */
  /* Also uses --blue3 --white */
  --purple1: 72 34 110; ; /* #48226e */
  --purple2: 102 51 153; ; /* #663399 */
  --purple3: 179 153 204; ; /* #b399cc */

  /* Theme colors watermelon */
  /* Also uses --red2 --white */
  --watermelon: 241 134 134; ; /* #f18686 */
  --red1: 206 7 7; ; /* #ce0707 */

  /* Theme colors ocean */
  /* Also uses --blue1 2 --white */
  --ocean: 129 222 254; ; /* #81defe */

  /* Theme colors sunshine */
  /* Also uses --white */
  --yellow1: 255 156 0; ; /* #ff9c00 */
  --yellow2: 255 174 0; ; /* #ffae00 */
  --sunshine: 255 215 128; ; /* #ffd780 */

  /** Common colors in all themes */
  --error: var(--red2);
  --error-content: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



