@import "tailwindcss/base";
@import './adblock-color-themes.css';
@import './extension-theme-adblock.css';
@import './extension-theme-abp.css';

@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  --white: rgb(255 255 255); /* #ffffff */
  --black: rgb(0 0 0); /* #000000 */

  /* Note: These theme colors names need to be updated. */
  /* Theme colors default */
  /* Also uses general white */
  --gray1: rgb(51 51 51); /* #333333 */
  --gray2: rgb(102 102 102); /* #666666 */
  --gray3: rgb(153 153 153); /* #999999 */
  --gray5: rgb(230 230 230); /* #e6e6e6 */
  --gray6: rgb(244 244 244); /* #f4f4f4 */
  --red2: rgb(228 13 13); /* #e40d0d */
  --blue1: rgb(0 71 255); /* #0047ff */

  /* Theme colors dark */
  /* Also uses --gray 1 2 3 6 */
  --gray4: rgb(198 198 198); /* #c6c6c6 */
  --blue2: rgb(3 188 252); /* #03bcfc */
  --blue3: rgb(78 205 249); /* #4ecdf9 */

  /* Theme colors solarized */
  --solarized-gray1: rgb(144 162 162); /* #90a2a2 */
  --solarized-teal1: rgb(0 44 56); /* #002c38 */
  --solarized-teal2: rgb(0 54 67); /* #003643 */
  --solarized-teal3: rgb(47 91 97); /* #2f5b61 */
  --solarized-teal4: rgb(0 164 152); /* #00a498 */
  --solarized-teal5: rgb(43 227 214); /* #2be3d6 */

  /* Theme colors solarized_light */
  /* Also uses solarized-teal4 & solarized-teal2 from solarized */
  --solarized-gray0l: rgb(76 99 105); /* #4c6369 */
  --solarized-gray1l: rgb(96 124 132); /* #607c84 */
  --solarized-gray2l: rgb(118 137 141); /* #76898d */
  --solarized-yellow2: rgb(238 232 213); /* #eee8d5 */
  --solarized-yellow3: rgb(253 246 227); /* #fdf6e3 */

  /* Theme colors rebecca_purple */
  /* Also uses --blue3 --white */
  --purple1: rgb(72 34 110); /* #48226e */
  --purple2: rgb(102 51 153); /* #663399 */
  --purple3: rgb(179 153 204); /* #b399cc */

  /* Theme colors watermelon */
  /* Also uses --red2 --white */
  --watermelon: rgb(241 134 134); /* #f18686 */
  --red1: rgb(206 7 7); /* #ce0707 */

  /* Theme colors ocean */
  /* Also uses --blue1 2 --white */
  --ocean: rgb(129 222 254); /* #81defe */

  /* Theme colors sunshine */
  /* Also uses --white */
  --yellow1: rgb(255 156 0); /* #ff9c00 */
  --yellow2: rgb(255 174 0); /* #ffae00 */
  --sunshine: rgb(255 215 128); /* #ffd780 */

  /** Common colors in all themes */
  --error: var(--red2);
  --error-content: var(--black);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*
    Added here because Tailwind does not provide support for outline-auto,
    but it is necessary for browser-styled hightlights. This weird style
    should make it look like a normal Tailwind modifier class.
  */
  .focus-within\:outline-auto:focus-within {
    outline-style: auto;
  }
}
